<!doctype html>
<html>
    <head>
        <title>Bucket Balls</title>
        <script>
            window.clientId = ${clientId};
        </script>
        <script src="/js/Box2dWeb-2.1.a.3.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/application.js"></script>
        <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;"/>
        <style>
            * { margin:0; padding:0; }
            html, body { width:100%; height:100%; }
            canvas { display:block; }
        </style>
    </head>
    <body>
          <canvas id="canvas"></canvas>
    </body>
</html>